body {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

h1 {
    font-family: 'Weston';
    font-size: 50px;

    text-align: center;

    color: white;
    background-color: #03A9F4;
}
@font-face {
    font-family: 'Weston';

    src: url('fonts/Weston Light Free.otf');
}

.h-flipper {
    position: relative;

    display: inline-block;

    width: 400px;
    height: 300px;
}

.v-flipper {
    position: relative;

    display: inline-block;

    width: 300px;
    height: 400px;
}

.s-flipper {
    position: relative;

    display: inline-block;

    width: 250px;
    height: 250px;
}

.c-flipper {
    position: relative;

    display: inline-block;
    overflow: hidden;

    width: 250px;
    height: 250px;

    -webkit-border-radius: 250px;
            border-radius: 250px;
}

.img-block {
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.img-block h3 {
    font-family: 'Weston';

    margin: 0;
    padding: 10px 0;

    text-align: center;

    color: brown;
    background-color: rgba(192, 192, 192, 0.42);
}

.flippers-container {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;

    background-color: #ea80fc ;

    -webkit-align-items: center;
            align-items: center;
    -webkit-box-align: center;
       -moz-box-align: center;
    -ms-flex-align: center;
    -ms-flex-pack: distribute;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
            justify-content: space-around;
}

.flippers-container>div {
    margin: 10px 0;
    border: 5px solid tomato;
}